
body {
	background-color: #DDFFFF;
}
header {
	background-color: #FFFFFF;
	height: 140px;
  margin: -60px -20px 0px -30px;
	border: 10px solid #00FFFF;
}

img {
  margin: 10 auto;
  padding: 2em;
  border: 1px solid #ccc:
  border-radius: 1em;
}
header div {
	font-size: 55px;
	color:#00FFFF;
	margin:50px 0px 0px 40px;
	line-height: 70px;
	float:left;
}

#progressImg{
  margin: 0 auto;
  width: 900px;
  padding: 1em;
  border: 1px solid #ccc:
  border-radius: 1em;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 900px;
  padding: 1em;
  border: 1px solid #ccc:
  border-radius: 1em;

  background-color: rgba(185, 255, 255, 0.74);
}

form label {
  margin: 0 0 5px 0;
  display: block;
  font-size: 18px;
  font-weight: bold;
  }

.form-text {
  width: 50%;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border: 1px solid #dedede;
  box-sizing: border-box;
}

form div + div{
  margin-top: 1em;
}

select{
  font-size:18px;
  border:1px;
}

label{
  display: inline-block;
  width :300px;
  text-transform: right;
}

#miniLabel{
  display: inline;;
  width: 50px;
}

.button {
    text-align: center;
}
button {
    margin-left: .5em;
}

#submit_button {
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border-style: none;
}

#submit_button:hover{
  background-color: rgb(0, 0, 255);
}

#father{
  color: #550055;
}
